<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/162/7/2107/137009622.jpg</string>
		<key>desc</key>
		<string>提起“体育运动”，人们首先想起来的是各种球类运动然后才是田径游泳等锻炼基础体能的项目，说到底体育毕竟是一种休闲和娱乐，除了职业体育以及职业体育的吸引力之外，一个国家体育运动的普及程度确实能够反映这个国家的文明发达程度，奥林匹克运动之所以要排斥职业运动员也就是出于这种考虑。
板球、足球、橄榄球、曲棍球这些球类运动都起源于英国，而篮球、棒球、冰球、美式足球和排球则起源于北美，但仔细追查，这些项目的根似乎都还出自英国的球类运动，到美国成为超级大国之后才走向世界的，网球则和法国有一定关系，但不太知道有什么体育运动是从俄国起源的，从这个角度说俄国人对体育事业的贡献不大。
和其他欧洲国家不同，俄国人在一开始对现代奥林匹克运动并不感兴趣，虽然其发展程度并不比其他欧洲国家落后。首届现代奥林匹克运动会是1896年召开的，那时并没有“国家队”的概念，运动员以个人身份参加，英国、法国、德国、奥地利、匈牙利和意大利这些欧洲国家都有人去，但不知道为什么沙皇俄国没有人去。</string>
		<key>title</key>
		<string>俄罗斯的强大必须包括体育</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/214/182/2107/137054299.jpg</string>
		<key>desc</key>
		<string>厦门，车过白鹭洲。
“这是人民会堂，从空中看，是一个‘王’字……这是政府大楼，空中看是个‘八’字……再往上看，那里有一个球……”酱油哥开着他的福特车，用闽南普通话不紧不慢地介绍着。
酱油哥是我朋友，热情的厦门土著，长得非常高大，用他的话说，这是南人北相，有福气。酱油哥每天只做三件事：卖酱油、诵心经、陪朋友吃饭。朋友圈里经常能看到有人晒厦门美食，不管是去东山岛海钓，还是到同安吃土笋冻，不管是中山公园32how这种小资范儿的咖啡馆，还是故宫路三真丸子这样土掉渣的冰石花小店，甚至子夜时分的思北路佘阿姨花生汤摊档前，一不小心就能从照片里看见一个带白边眼镜的魁伟男子背影，那正是酱油哥。</string>
		<key>title</key>
		<string>在菜场感受城市的呼吸</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/210/173/2107/137052000.jpg</string>
		<key>desc</key>
		<string>奥林匹克运动面对的挑战，不仅仅是让所有国际奥委会（IOC）大佬们灰头土脸的禁药问题，不仅仅是上升到地缘政治对立的俄罗斯问题，不仅仅是里约比雅典更糟糕的准备状况，不仅仅是前任主席罗格在伦敦说过的“非法博彩比禁药更可怕”……综合起来，最大的挑战是谁来承办未来的奥运会？</string>
		<key>title</key>
		<string>未来，谁还会申办费钱不讨好的奥运会</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/18/153/2107/137046708.jpg</string>
		<key>desc</key>
		<string>日前，四名中国游客在美国自驾期间遭车祸遇难，事故主因是驾驶者无视“Stop Sign”标志强行左转，结果与直行车辆相撞。同类惨剧在美已发生数起，小事故更是层出不穷。新西兰就曾因中国自驾者事故过多，专门在国人出行旺季要求租车公司对租车者进行简单的当地交规测试。</string>
		<key>title</key>
		<string>在欧洲真的都是“车让人”吗？</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/177/87/2107/137030037.jpg</string>
		<key>desc</key>
		<string>就在比赛开始前仅仅数小时，国际冠军杯中国赛组委会宣布取消北京站曼联与曼城的“鸟巢”之战，理由是“近日连续强降雨天气，为保证球员和球迷的安全”。尽管前一日确有雷雨惊扰了两队训练，但官方宣布取消比赛时，北京正艳阳高照，天气原因只是托词而已，让这场足球商业赛流产的真正理由是“鸟巢”糟糕的场地状况。</string>
		<key>title</key>
		<string>中国体育不可避免的尴尬</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/207/39/2107/137017827.jpg</string>
		<key>desc</key>
		<string>夏天的北大荒，广袤的平原上，绿色的玉米一直种到望不见尽头的天边，牛羊在草滩上悠闲地吃草。大江奔流，江上漂浮着打鱼船。湿地里，不时掠过飞鸟。天亮得早，日落得迟，气温凉爽，微风习习。浓烈的白云。一朵朵耸立在透亮的蓝天上，一点不比林海雪原的冬季来得逊色。</string>
		<key>title</key>
		<string>黑瞎子岛与中俄边界的最后争端</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/88/16/2107/137011843.jpg</string>
		<key>desc</key>
		<string>从1999年开始到2016年5月底，如果不考虑投资策略，每一支去美国或中国香港上市的中国互联网公司的股票你都买进，投资回报能有6.2倍（平均周期7年）；如果你非常有眼光，买到了表现最好的十家公司的股票，你的投资回报能有38.9倍；7年6.2倍的投资回报，足以让很多投资人汗颜。看准了大势，就很难亏。</string>
		<key>title</key>
		<string>要么发达，要么死亡</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/89/163/2106/136984304.jpg</string>
		<key>desc</key>
		<string>两晋南北朝的所谓士族，其实就是官N代，他们不是贵族，多数都没有过爵位，即使有，也没有人看重。那年月，三代有做过领军护军以上官儿的，为甲姓，做过九卿方伯的为乙姓，做过散骑常侍大中大夫的为丙姓，做过吏部正员郎的为丁姓。</string>
		<key>title</key>
		<string>官N代的牛X生活</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/ninja/1/2016/07/ninja146993581699461.jpg</string>
		<key>desc</key>
		<string>如果找到全安琪更多的照片，很容易发现最开始大面积流传的那几张夺冠时的照片，是为了强化这种反差而精心挑选的丑照；而日常生活中的妆容和宣传照则好看很多。当然，就算她的正常照片，也一样会有人公开说真丑。她的高颧骨、大嘴巴、小麦肤色、高大健壮的身材，动辄大笑，无一符合中国审美。这种模样很像是迪士尼动画片《花木兰》的真人版。</string>
		<key>title</key>
		<string>只爱网红脸的中国人没资格嘲笑美国人审美</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>http://img1.gtimg.com/cul/pics/hv1/60/162/2106/136984020.jpg</string>
		<key>desc</key>
		<string>这让我很是妒忌，911发生时我和顾蔚都是在纽约学新闻的留学生，虽然当时并不认识,却因为这场劫难在认识之前就被预先联系在一起。如果“肯尼迪遇刺时你在哪儿”是经历过60年代的人们相认的暗语，“世贸大楼倒塌时你在哪儿”就是20世纪初住在纽约的人结识的契机—不用别人介绍，不用担心找不到共同话题，只这句就够了。
但顾蔚早几年就已经从纽约这个遇袭指数一直非红即橙的高危地区搬回了相对安全的香港生活，照常理，如果我们两人中有人先亲历袭击，怎么说也应该是我。当然，就如今这个高度流动的世界而言，“爱斯基摩人用不着冰箱”的常理早就过时了。全球任何地方发生的袭击事件，受害人都可能来自全球任何地方，而对于滥杀无辜的袭击事件，全球任何地方也都已经没有绝对的免疫力。</string>
		<key>title</key>
		<string>遭遇恐怖袭击怎么办？一个听天由命者的视角</string>
	</dict>
</array>
</plist>
